<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.qs.mapper.fc.FirstChargeReportMapper">

	<select id="listFirstChargeReport" resultType="map"
		parameterType="map">
	SELECT user_name,gmt_created, '1' AS 当天
	<foreach collection="syncDates" item="syncDate" index="indexNum" open="," separator=",">
		IFNULL((SELECT CASE WHEN bet_amount + 0 > 0 THEN '1' END FROM member m WHERE m.user_name = c.user_name  AND sync_Date = '${syncDate}'),'-') AS 第${indexNum + 1}天
	</foreach>
	FROM first_charge c WHERE gmt_created LIKE '${gmtCreated}%' 
	<if test="user_name != null and user_name != ''">
		and user_name like '%${user_name}%'
	</if>
	</select>

</mapper>