<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.qs.mapper.fc.FirstChargeReportMapper">

	<select id="listFirstChargeReport" resultType="map"
		parameterType="map">
		SELECT user_name,gmt_created, '1' AS 当天
		<foreach collection="syncDates" item="syncDate" index="indexNum"
			open="," separator=",">
			IFNULL((SELECT CASE WHEN bet_amount + 0 > 0 THEN '1' END FROM member m WHERE
			m.user_name = c.user_name AND sync_Date = '${syncDate}'),'-') AS
			第${indexNum + 1}天
		</foreach>
		FROM first_charge c WHERE gmt_created LIKE '${gmtCreated}%'
		<if test="user_name != null and user_name != ''">
			and user_name like '%${user_name}%'
		</if>
	</select>
	
	<select id="listFirstChargeReport2" resultType="map"
		parameterType="map">
		SELECT id,user_name,gmt_created,parent_name,second_parent_name,second_parent_name_remark,amount as 第0天
		<foreach collection="syncDates" item="syncDate" index="indexNum"
			open="," separator=",">
			IFNULL((SELECT CASE WHEN in_amount + 0 > 0 THEN in_amount END FROM member m WHERE
			m.user_name = c.user_name AND sync_Date = left(date_add(gmt_created, interval ${indexNum + 1} day), 10)),'-') AS
			第${indexNum + 1}天
		</foreach>
		FROM first_charge c  
		<where>
			<if test="user_name != null and user_name != ''">
				and user_name like '%${user_name}%'
			</if>
			<if test="startTime != null and startTime != ''">
				and c.gmt_created >= '${startTime} 00:00:00'
			</if>
			<if test="endTime != null and endTime != ''">
				and c.gmt_created &lt;= '${endTime} 23:59:59'
			</if>
			
			<foreach collection="parentNames" item="parentName" index="indexNum"
			open="and parent_name in (" separator="," close=")">
			'${parentName}'
			</foreach>
		</where>
		
		order by second_parent_name is null, second_parent_name, user_name
	</select>

	<select id="listTotalChargeReport" resultType="map"
		parameterType="map">
		select * from (
		Select c.user_name, gmt_created,c.parent_name,second_parent_name,second_parent_name_remark, register_time,
		(select ROUND(sum(in_amount), 2) from member where user_name = c.user_name 
			<if test="startTime != null and startTime != ''">
				and sync_date >= #{startTime}
			</if>
			<if test="endTime != null and endTime != ''">
				and sync_date &lt;= #{endTime}
			</if>
		) as total
		 , (select max(gmt_modified) from login_log  where user_name = c.user_name) as last_login_time from first_charge c,member m where m.user_name = c.user_name 
			<if test="user_name != null and user_name != ''">
				and c.user_name like '%${user_name}%'
			</if>
			<foreach collection="parentNames" item="parentName" index="indexNum"
			open="and c.parent_name in (" separator="," close=")">
			'${parentName}'
			</foreach>
			
			group by c.user_name order by total desc
			) tmp 
			<if test="gmt_created != null and gmt_created != ''">
				 where tmp.last_login_time LIKE '${gmt_created}%'
			</if>
	</select>
	
	<select id="listDistinctParentName" resultType="string"
		parameterType="map">
		select distinct parent_name from first_charge
	</select>

</mapper>